{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "jest",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:eslint-comments/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "tests/**"
      ],
      "plugins": [
        "jest"
      ],
      "extends": [
        "plugin:jest/recommended"
      ],
      "rules": {
        "jest/prefer-expect-assertions": "off"
      }
    }
  ],
  "rules": {
    "no-console": 2,
    "prettier/prettier": 2,
    "eslint-comments/no-unused-disable": "error",
    "require-await": "off",
    "@typescript-eslint/require-await": "error"
  }
}
